numpy==1.21.5
matplotlib==3.5.1
scipy==1.8.0
pyyaml==6.0
scikit-rf==0.20.0

# for package deployment
setuptools~=60.8.1
numba~=0.55.1

# for doc building
mkdocs-material
mkdocstrings
mkdocs==1.2.3
pytkdocs[numpy-style]
mkdocs-jupyter

# for streamlit
hydralit==1.0.12
streamlit==1.5
