numpy==1.22.2
matplotlib==3.5.1
scipy==1.8.0
pyyaml==6.0
scikit-rf==0.21.0

# for package deployment
setuptools~=60.9.3

# for doc building
mkdocs-material
mkdocstrings
mkdocs==1.2.3
pytkdocs[numpy-style]
mkdocs-jupyter

# for streamlit
hydralit==1.0.12
streamlit==1.7.0
